#ignorar los directorios siguientes
bin/
.settings/
#src/ec/com/jaapz/modelo/ClaseDAO.java
/ComprobantePago.jasper
/Comprobante.jasper
/abc.jasper
/listado_materiales.jasper
/comprobantePago.jasper
/comprobante.jasper
/clientes_al_dia.jasper
